/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333333;
}

/* Navbar styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 98%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

/* Navbar branding (logo) */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: auto;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* Hero Section with Background Image */
.hero {
    height: 100vh;
    background-image: url('../images/img1.jpg'); /* Path to the hero image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Button Styling */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF; /* Button color */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

/* Button Image Styling */
.btn-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-image: url('../images/om.jpg'); /* Path to the icon image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; /* Space between image and text */
}
/* Footer Section */
footer {
    background-color: #f7f7f7;
    color: #888;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

footer p {
    margin: 0;
}
