<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>विप्रVivah</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="#" class="navbar-brand">विप्रVivah</a>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>

    <!-- Hero Section -->
    <div class="hero">
        <div class="hero-content">
            <h1>अखंड एवं विराट विप्र समाज को समर्पित</h1>
            <a href="{{ url_for('login_register') }}" class="btn">
                <span class="btn-icon"></span> Let's Begin
            </a>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Disclaimer

                The information provided on this website is solely the responsibility of the individual 
                submitting it. We do not verify or guarantee the accuracy, completeness, or reliability 
                of any data filled by users. Users and interested parties should exercise due diligence 
                and independently verify all information before taking any action based on it.</p>
            <p>&copy; 2024 Matrimonial Website. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
