<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Profiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">विप्रVivah</a>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('explore') }}">Contact Us</a></li>
            <li><a href="{{ url_for('myprofile') }}">My Account</a></li>
        </ul>
    </nav>
    
    <!-- Filter Section -->
    <div class="filter-section">
        <form method="GET" action="{{ url_for('explore') }}">
            <div>
                <label for="looking_for">Looking For:</label>
                <select id="looking_for" name="looking_for">
                    <option value="none">None</option>
                    <option value="boy">Boy</option>
                    <option value="girl">Girl</option>
                </select>

            </div>

           <div>
            <label for="mother_tongue">Mother Tongue:</label>
            <select id="mother_tongue" name="mother_tongue">
                <option value="none">None</option>
                <option value="hindi">Hindi</option>
                <option value="english">English</option>
                <option value="bengali">Bengali</option>
                <option value="marathi">Marathi</option>
                <option value="tamil">Tamil</option>
                <option value="telugu">Telugu</option>
                <option value="Awadhi">Awadhi</option>
                <option value="gujarati">Gujarati</option>
                <option value="malayalam">Malayalam</option>
                <option value="kannada">Kannada</option>
            </select>
           </div>

            <div>
                <label for="city">City:</label>
<select id="city" name="city">
    <option value="">Select City</option>
    <option value="none">None</option>
    <option value="agra">Agra</option>
    <option value="ahmedabad">Ahmedabad</option>
    <option value="aligarh">Aligarh</option>
    <option value="amritsar">Amritsar</option>
    <option value="aurangabad">Aurangabad</option>
    <option value="bangalore">Bangalore</option>
    <option value="barabanki">Barabanki</option>
    <option value="bareilly">Bareilly</option>
    <option value="bhagalpur">Bhagalpur</option>
    <option value="bhopal">Bhopal</option>
    <option value="bhubaneswar">Bhubaneswar</option>
    <option value="bilaspur">Bilaspur</option>
    <option value="chandigarh">Chandigarh</option>
    <option value="chennai">Chennai</option>
    <option value="coimbatore">Coimbatore</option>
    <option value="dehradun">Dehradun</option>
    <option value="delhi">Delhi</option>
    <option value="dhanbad">Dhanbad</option>
    <option value="faridabad">Faridabad</option>
    <option value="ghaziabad">Ghaziabad</option>
    <option value="gwalior">Gwalior</option>
    <option value="guwahati">Guwahati</option>
    <option value="hazaribagh">Hazaribagh</option>
    <option value="hyderabad">Hyderabad</option>
    <option value="indore">Indore</option>
    <option value="jammu">Jammu</option>
    <option value="jodhpur">Jodhpur</option>
    <option value="jaipur">Jaipur</option>
    <option value="kanpur">Kanpur</option>
    <option value="kolkata">Kolkata</option>
    <option value="kochi">Kochi</option>
    <option value="kolhapur">Kolhapur</option>
    <option value="kollam">Kollam</option>
    <option value="lucknow">Lucknow</option>
    <option value="ludhiana">Ludhiana</option>
    <option value="madurai">Madurai</option>
    <option value="manipal">Manipal</option>
    <option value="meerut">Meerut</option>
    <option value="mumbai">Mumbai</option>
    <option value="nagpur">Nagpur</option>
    <option value="noida">Noida</option>
    <option value="nashik">Nashik</option>
    <option value="patna">Patna</option>
    <option value="puducherry">Puducherry</option>
    <option value="pune">Pune</option>
    <option value="rajahmundry">Rajahmundry</option>
    <option value="rajkot">Rajkot</option>
    <option value="ranchi">Ranchi</option>
    <option value="siliguri">Siliguri</option>
    <option value="srinagar">Srinagar</option>
    <option value="surat">Surat</option>
    <option value="thane">Thane</option>
    <option value="tiruchirappalli">Tiruchirappalli</option>
    <option value="tirupati">Tirupati</option>
    <option value="vadodara">Vadodara</option>
    <option value="varanasi">Varanasi</option>
    <option value="visakhapatnam">Visakhapatnam</option>
    <option value="vijayawada">Vijayawada</option>
    <option value="vijayapura">Vijayapura</option>
    <option value="warsaw">Warsaw</option>
    
    <!-- Uttar Pradesh Districts -->
    <option value="agra">Agra</option>
    <option value="aligarh">Aligarh</option>
    <option value="allahabad">Allahabad</option>
    <option value="ambedkar nagar">Ambedkar Nagar</option>
    <option value="auraiya">Auraiya</option>
    <option value="barabanki">Barabanki</option>
    <option value="bareilly">Bareilly</option>
    <option value="basti">Basti</option>
    <option value="bijnaur">Bijnor</option>
    <option value="bulandshahr">Bulandshahr</option>
    <option value="chandauli">Chandauli</option>
    <option value="chitrakoot">Chitrakoot</option>
    <option value="deoria">Deoria</option>
    <option value="etah">Etah</option>
    <option value="etawah">Etawah</option>
    <option value="faizabad">Faizabad</option>
    <option value="farrukhabad">Farrukhabad</option>
    <option value="fatehpur">Fatehpur</option>
    <option value="ghaziabad">Ghaziabad</option>
    <option value="ghazipur">Ghazipur</option>
    <option value="gorakhpur">Gorakhpur</option>
    <option value="hathras">Hathras</option>
    <option value="jalaun">Jalaun</option>
    <option value="jammu">Jammu</option>
    <option value="jhansi">Jhansi</option>
    <option value="jind">Jind</option>
    <option value="kanpur">Kanpur</option>
    <option value="kannauj">Kannauj</option>
    <option value="kaushambi">Kaushambi</option>
    <option value="kushinagar">Kushinagar</option>
    <option value="lakhimpur kheri">Lakhimpur Kheri</option>
    <option value="ludhiana">Ludhiana</option>
    <option value="mainpuri">Mainpuri</option>
    <option value="mathura">Mathura</option>
    <option value="meerut">Meerut</option>
    <option value="mau">Mau</option>
    <option value="moradabad">Moradabad</option>
    <option value="muzaffarnagar">Muzaffarnagar</option>
    <option value="pratapgarh">Pratapgarh</option>
    <option value="raebareli">Raebareli</option>
    <option value="rampur">Rampur</option>
    <option value="saharanpur">Saharanpur</option>
    <option value="sant kabir nagar">Sant Kabir Nagar</option>
    <option value="shahjahanpur">Shahjahanpur</option>
    <option value="shravasti">Shravasti</option>
    <option value="siddharth nagar">Siddharth Nagar</option>
    <option value="sonbhadra">Sonbhadra</option>
    <option value="sultanpur">Sultanpur</option>
    <option value="unnao">Unnao</option>
    <option value="varanasi">Varanasi</option>
</select>

            </div>

           <div>
            <label for="gotra">Gotra to Avoid:</label>
            <select id="gotra" name="gotra">
                <option value="none">None</option>
                <option value="bharadwaj">Bharadwaj</option>
                <option value="vashishtha">Vashishtha</option>
                <option value="kaushik">Kaushik</option>
                <option value="gautam">Gautam</option>
                <option value="kashyap">Kashyap</option>
                <option value="atri">Atri</option>
                <option value="jamadagni">Jamadagni</option>
            </select>
           </div>

            <button type="submit">Apply Filters</button>
        </form>
    </div>

    <!-- Main Content -->
    <div class="card-container">
        {% for profile in profiles %}
            <a href="{{ url_for('profile_detail', profile_id=profile.id) }}" class="card">
                {% if profile.profile_picture %}
                    <img src="{{profile.profile_picture}}" 
                         alt="{{ profile.name_first }}'s Profile Picture" 
                         class="profile-picture" style="max-width: 150px; max-height: 150px;">
                {% else %}
                    <p>No profile picture uploaded.</p>
                {% endif %}
                <h3>{{ profile.name_first }} {{ profile.name_last }}</h3>
                <p>Gender: {{ profile.gender }}</p>
                <p>Looking For: {{ profile.looking_for }}</p>
                <p>Mother Tongue: {{ profile.mother_tongue }}</p>
                <p>Age Range: {{ profile.age_min }} - {{ profile.age_max }}</p>
            </a>
        {% endfor %}
    </div>

    <footer>
        <div class="container">
            <p>Disclaimer

                The information provided on this website is solely the responsibility of the individual 
                submitting it. We do not verify or guarantee the accuracy, completeness, or reliability 
                of any data filled by users. Users and interested parties should exercise due diligence 
                and independently verify all information before taking any action based on it.</p>
            <p>&copy; 2024 Matrimonial Website. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
